.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadded;
  border-radius: 4px;
}

h1 {
  color: #0a1931;
  font-size: 24px;
  font-weight: 100px;
  line-height: 29px;
  margin-bottom: 3px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #5e5c5c;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

strong {
  font-size: 50px;
  font-weight: 400;
  color: #4d4c4c;
}

a {
  text-decoration: none;
}

.btn {
  color: white;
}

.btn:hover {
  color: black;
}
